dataformat-uanodeset/nodeset/xsd/Opc.Ua.I4AAS_V3Draft.NodeSet2.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://opcfoundation.org/UA/I4AAS/V3/Types.xsd" xmlns:tns="http://opcfoundation.org/UA/I4AAS/V3/Types.xsd" xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd"/>
    <xs:simpleType name="AASAssetKindDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Type_0"/>
            <xs:enumeration value="Instance_1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASAssetKindDataType" name="AASAssetKindDataType"/>
    <xs:complexType name="ListOfAASAssetKindDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASAssetKindDataType" name="AASAssetKindDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASAssetKindDataType" name="ListOfAASAssetKindDataType" nillable="true"/>
    <xs:simpleType name="AASCategoryDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONSTANT_0"/>
            <xs:enumeration value="PARAMETER_1"/>
            <xs:enumeration value="VARIABLE_2"/>
            <xs:enumeration value="RELATIONSHIP_3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASCategoryDataType" name="AASCategoryDataType"/>
    <xs:complexType name="ListOfAASCategoryDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASCategoryDataType" name="AASCategoryDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASCategoryDataType" name="ListOfAASCategoryDataType" nillable="true"/>
    <xs:simpleType name="AASDataTypeIEC61360DataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOLEAN_0"/>
            <xs:enumeration value="DATE_1"/>
            <xs:enumeration value="RATIONAL_2"/>
            <xs:enumeration value="RATIONAL_MEASURE_3"/>
            <xs:enumeration value="REAL_COUNT_4"/>
            <xs:enumeration value="REAL_CURRENCY_5"/>
            <xs:enumeration value="REAL_MEASURE_6"/>
            <xs:enumeration value="STRING_7"/>
            <xs:enumeration value="STRING_TRANSLATABLE_8"/>
            <xs:enumeration value="TIME_9"/>
            <xs:enumeration value="TIMESTAMP_10"/>
            <xs:enumeration value="URL_11"/>
            <xs:enumeration value="INTEGER_COUNT_12"/>
            <xs:enumeration value="INTEGER_CURRENCY_13"/>
            <xs:enumeration value="INTEGER_MEASURE_14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASDataTypeIEC61360DataType" name="AASDataTypeIEC61360DataType"/>
    <xs:complexType name="ListOfAASDataTypeIEC61360DataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASDataTypeIEC61360DataType" name="AASDataTypeIEC61360DataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASDataTypeIEC61360DataType" name="ListOfAASDataTypeIEC61360DataType" nillable="true"/>
    <xs:simpleType name="AASEntityTypeDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CoManagedEntity_0"/>
            <xs:enumeration value="SelfManagedEntity_1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASEntityTypeDataType" name="AASEntityTypeDataType"/>
    <xs:complexType name="ListOfAASEntityTypeDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASEntityTypeDataType" name="AASEntityTypeDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASEntityTypeDataType" name="ListOfAASEntityTypeDataType" nillable="true"/>
    <xs:simpleType name="AASIdentifierTypeDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IRDI_0"/>
            <xs:enumeration value="IRI_1"/>
            <xs:enumeration value="Custom_2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASIdentifierTypeDataType" name="AASIdentifierTypeDataType"/>
    <xs:complexType name="ListOfAASIdentifierTypeDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASIdentifierTypeDataType" name="AASIdentifierTypeDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASIdentifierTypeDataType" name="ListOfAASIdentifierTypeDataType" nillable="true"/>
    <xs:simpleType name="AASKeyElementsDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AccessPermissionRule_0"/>
            <xs:enumeration value="AnnotatedRelationshipElement_1"/>
            <xs:enumeration value="Asset_2"/>
            <xs:enumeration value="AssetAdministrationShell_3"/>
            <xs:enumeration value="Blob_4"/>
            <xs:enumeration value="Capability_5"/>
            <xs:enumeration value="ConceptDescription_6"/>
            <xs:enumeration value="ConceptDictionary_7"/>
            <xs:enumeration value="DataElement_8"/>
            <xs:enumeration value="Entity_9"/>
            <xs:enumeration value="Event_10"/>
            <xs:enumeration value="File_11"/>
            <xs:enumeration value="FragmentReference_12"/>
            <xs:enumeration value="GlobalReference_13"/>
            <xs:enumeration value="MultiLanguageProperty_14"/>
            <xs:enumeration value="Operation_15"/>
            <xs:enumeration value="Property_16"/>
            <xs:enumeration value="Range_17"/>
            <xs:enumeration value="ReferenceElement_18"/>
            <xs:enumeration value="RelationshipElement_19"/>
            <xs:enumeration value="Submodel_20"/>
            <xs:enumeration value="SubmodelElement_21"/>
            <xs:enumeration value="SubmodelElementCollection_22"/>
            <xs:enumeration value="View_23"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASKeyElementsDataType" name="AASKeyElementsDataType"/>
    <xs:complexType name="ListOfAASKeyElementsDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASKeyElementsDataType" name="AASKeyElementsDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASKeyElementsDataType" name="ListOfAASKeyElementsDataType" nillable="true"/>
    <xs:simpleType name="AASKeyTypeDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IdShort_0"/>
            <xs:enumeration value="FragmentId_1"/>
            <xs:enumeration value="Custom_2"/>
            <xs:enumeration value="IRDI_3"/>
            <xs:enumeration value="IRI_4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASKeyTypeDataType" name="AASKeyTypeDataType"/>
    <xs:complexType name="ListOfAASKeyTypeDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASKeyTypeDataType" name="AASKeyTypeDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASKeyTypeDataType" name="ListOfAASKeyTypeDataType" nillable="true"/>
    <xs:simpleType name="AASLevelTypeDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Min_0"/>
            <xs:enumeration value="Max_1"/>
            <xs:enumeration value="Num_2"/>
            <xs:enumeration value="Type_3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASLevelTypeDataType" name="AASLevelTypeDataType"/>
    <xs:complexType name="ListOfAASLevelTypeDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASLevelTypeDataType" name="AASLevelTypeDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASLevelTypeDataType" name="ListOfAASLevelTypeDataType" nillable="true"/>
    <xs:simpleType name="AASModelingKindDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Template_0"/>
            <xs:enumeration value="Instance_1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASModelingKindDataType" name="AASModelingKindDataType"/>
    <xs:complexType name="ListOfAASModelingKindDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASModelingKindDataType" name="AASModelingKindDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASModelingKindDataType" name="ListOfAASModelingKindDataType" nillable="true"/>
    <xs:simpleType name="AASValueTypeDataType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Boolean_0"/>
            <xs:enumeration value="SByte_1"/>
            <xs:enumeration value="Byte_2"/>
            <xs:enumeration value="Int16_3"/>
            <xs:enumeration value="UInt16_4"/>
            <xs:enumeration value="Int32_5"/>
            <xs:enumeration value="UInt32_6"/>
            <xs:enumeration value="Int64_7"/>
            <xs:enumeration value="UInt64_8"/>
            <xs:enumeration value="Float_9"/>
            <xs:enumeration value="Double_10"/>
            <xs:enumeration value="String_11"/>
            <xs:enumeration value="DateTime_12"/>
            <xs:enumeration value="ByteString_13"/>
            <xs:enumeration value="LocalizedText_14"/>
            <xs:enumeration value="UtcTime_15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:AASValueTypeDataType" name="AASValueTypeDataType"/>
    <xs:complexType name="ListOfAASValueTypeDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASValueTypeDataType" name="AASValueTypeDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASValueTypeDataType" name="ListOfAASValueTypeDataType" nillable="true"/>
    <xs:complexType name="AASKeyDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" type="tns:AASKeyElementsDataType" name="Type"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Value"/>
            <xs:element minOccurs="0" maxOccurs="1" type="tns:AASKeyTypeDataType" name="IdType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:AASKeyDataType" name="AASKeyDataType"/>
    <xs:complexType name="ListOfAASKeyDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:AASKeyDataType" name="AASKeyDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfAASKeyDataType" name="ListOfAASKeyDataType" nillable="true"/>
</xs:schema>
